
@font-face{
	font-family: TedNext;
	src: url('../fonts/TedNext-Regular.otf');
}

@font-face{
	font-family: TedNext-SemiBold;
	src: url('../fonts/TedNext-Semibold.otf');
}

@font-face{
	font-family: TedNext-Bold;
	src: url('../fonts/TedNext-Bold.otf');
}



body{
    font-family: 'TedNext' !important;
    font-weight: 600;
    font-style: normal;
}

.rogers-card{
	
	border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    box-shadow: 0.01875rem 0.05625rem 0.18125rem 0.025rem rgba(0,0,0,.15);
	background-clip: border-box;
	/* font-family: TedNext!important; */
    font-weight: 600;
    font-style: normal;
	width: auto;
    border-radius: 0;
    border-width: .02rem;
    
	/*
	height: 100%!important;
	position: relative;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
	flex-direction: column;
	*/
	
    min-width: 0;
    word-wrap: break-word;
	border-top: .1875rem solid #da291c; 
	padding: 10px;

}

.footer-td{
	border-right: 2px solid white;
	color: white;
}

.footer-center{
	text-align: center;
}

/*
a{
	color: #2298AE;
}
*/
.span-plus{
	background-color: #2298AE;
}

.card-link{
	line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #085498;
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    padding-right: .5rem;
    font-weight: 600;
    cursor: pointer;
}

/*
a.card-link::after{
	content: '<i class="fas fa-angle-right"></i>';
}

.nav-item {
    padding-left: 1rem;
    margin-bottom: -.125rem;
}
*/

.nav-tabs .nav-link.active {
    color: #333;
    font-weight: 600;
    border-width: 0 .05rem;
    border-top: .1875rem solid #da291c;
}

.nav-tabs .nav-link {
    border-radius: 0;
    font-weight: 500;
    font-size: 1rem;
    color: #696969;
}

.tab-content .tab-pane {
    padding: 0.95rem .9375rem 1.563rem .97rem;
	float: left;
    width: 100%;
    border-bottom: .0625rem solid #dee2e6;
    border-left: .0625rem solid #dee2e6;
    border-right: .0625rem solid #dee2e6;
    line-height: 1.5;
}

/*
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}
*/

.answer-card{
    padding: 6px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.image-card{
    margin-left: 50px;
    margin-bottom: 5px;
    width: 16%;
}

/*
.card-img-top{
    height: 90px;
    width: 150px;
}
*/

.nav-bottom{
    border-bottom: 2px #00FF00	!important;
}


.nav-thin{
   /* height: 2.9em; */
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

.card-header {
    cursor: pointer;
}
.faq-body{
    padding: 1em;
   
}

.collapse-header{
    float: left;
}

.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}